<!DOCTYPE html>
<html lang="en">
<head>
<title>CANARA BANK</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="red"><b>NEYVELI-PLACE OF BLACK COAL</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>CANARA BANK</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Arial" size="5">
<b>
<ul>
<li>Canara Bank is located near neyveli arch gate.</li>
<li>It is maintanied very safely with a cctv cameras.</li>
<li>There is a veg hostel in left to canara bank and a stationary in right to canara bank</li>
<li>It is accessly for 24/7 .  
</lu>
<b>

</font>
</p>
</body>
</html>