<!DOCTYPE html>
<html lang="en">
<head>
<title>PAVANDAIYAN TEMPLE</title>
</head>
<body bgcolor="lime">
<h1 align="center">
<font color="red"><b>NEYVELI-PLACE OF BLACK COAL</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>NLC MINE 2</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Georgia" size="5">
<b>
<ul>
<li>Neyveli is popular for generating current .</li>
<li></li>Char coal is burnt was burnt in thermal powerstation and it was sent to mine to convert it into current.</li>
<li></li>It was seperated into two mine. MINE 1. and MINE 2.</li>
<li>The workers of this power station was given home in the neyveli itself .</li>
</ul>
</b>
</font>
</p>
</body>
</html>