<!DOCTYPE html>
<html lang="en">
<head>
  <title> NEYVELI - PLACE OF BLACK COAL </title>
</head>
<body style="background-color: black;">
    <img src="/static/images/maps.png" width="1913" height="926" alt="nativemap" usemap="#nativemap">
<MAP name="nativemap">
    <area shape="RECT" coords="331,547,475,589" alt="canarabank" title="canarabank" href="/canarabank/">
    <area shape="RECT" coords="442,630,647,685" alt="mine" title="mine" href="/mine/">
    <area shape="RECT" coords="194,372,399,427" alt="neyvelibusstand" title="neyvelibusstand" href="/neyvelibusstand/">
    <area shape="RECT" coords="4,530,186,581" alt="stantonychruch" title="stantonychruch" href="/stantonychruch/">
    <area shape="RECT" coords="502,539,685,586" alt="NLCschool" title="NLCschool" href="/NLCschool/">
</map>
</body>
</html>