<!DOCTYPE html>
<html lang="en">
<head>
<title>NEYVELI BUS STAND</title>
</head>
<body bgcolor="yellow">
<h1 align="center">
<font color="red"><b>NEYVELI-PLACE OF BLACK COAL</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>NEYVELI BUS STAND</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Tahoma" size="5">
<b>
<ul>
<li>Neveli bus stand is popularly known as CBS.CENTRAL BUSTAND.</li>
<li>It was one of the biggest bustand in cuddalore district which was located in Neyveli township.</li>
<li>It was maintained very clean by the people of township.</li>
<li>The bustand was properly maintanied by the police of neyveli with 244 hours service.</li>
</ul>
</b>
</font>
</p>
</body>
</html>