<!DOCTYPE html>
<html lang="en">
<head>
<title>NLCschool</title>
</head>
<body bgcolor="cyan">
<h1 align="center">
<font color="red"><b>NEYVELI-PLACE OF BLACK COAL</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>NLCSCCHOOL</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Courier New" size="5">
<b>
The main objectives of NLC Higher Secondary School are 
<ul>
<li>The teachers of this school was experienced teachers and they were prvided more salary.</li>
<li>To provide financial aids and grants wisely and judiciously.</li>
<li>To Frame of syllabus and curriculum.</li>
<li>To set aims and objectives of education.</li>
</ul>
</b>
</font>
</p>
</body>
</html>