<!DOCTYPE html>
<html lang="en">
<head>
<title>ST.ANTONYS CHRUCH</title>
</head>
<body bgcolor="orange">
<h1 align="center">
<font color="red"><b>NEYVELI-PLACE OF BLACK COAL</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>ST.ANTONYS CHRUCH</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Georgia" size="5">
<b>
<ul>
<li>St.Antonys Chruch is located near the central bustand neyveli.</li>
<li>It is one of the oldest chruch in cuddalore.</li>
<li>It was built in year 1982 by saint.Joseph who was father of the chruch of Sanit merry.</li>
<li>It was very powerful chruch that changed many people's life.</li>
<li>Many people visit this chruch from various places.</li>
</ul>
</b>
</font>
</p>
</body>
</html>